.highlight {
  background-color: aqua;
}

.user-list {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.user-list > thead > tr > th,
.user-list > tbody > tr > td {
  width: 150px;
  border: 1px solid #333;
  padding: 10px;
}
